@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@600&family=Tektur:wght@600&display=swap');

h2{
    font-family: 'Tektur', cursive;
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: 4rem;
    letter-spacing: 2px;
}
.events{
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.event-card{
    display: flex;
    width: 90%;
    padding: 1rem;
    margin: 1.5rem 0.5rem;
    border-radius: 16px;
    transition: all 0.6s ease;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.event-card:hover{
    scale: 1.05;
    translate: 10px;
    border: 2px solid #c11065;
    box-shadow: 2px 2px 12px 8px #c11065;
}
.event-card:nth-child(even){
    flex-direction: row-reverse;
}
.event-text{
    margin: 0 2.5rem;
}
.event-text>h3{
    font-family: 'Tektur', cursive;
    font-size: 2rem;
    margin: 1rem 0;
    letter-spacing: 1.5px;
}
.event-text>p{
    font-family: 'Big Shoulder Inline Text', sans-serif;
    text-align: justify;
    color: #aaaaaa;
    letter-spacing: 1.2px;
}
.event-img{
    margin: auto;
}
.event-img>img{
    width: 280px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

@media screen and (max-width: 842px) {
    .event-card{
        flex-direction: column-reverse !important;
        border: 4px solid #c11065;
        padding: 1.5rem;
        padding-top: 3rem;
        width: 75%;
    }
    .event-text{
        margin-top: 1.5rem;
        text-align: center;
        margin: 0 1rem;
    }
    .event-text>p{
        text-align: center;
    }
    .event-img>img{
        width: 65vw;
    }
}